<!DOCTYPE html>
<html {{ site.language_attributes }}>

<head>
	<meta charset="{{ site.charset }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{ function( 'wp_head' ) }}
</head>

<body class="{{ body_class }}">
	{{ function( 'wp_body_open' ) }}
	{% include 'template-parts/navigation/skip-links.twig' %}	

	<header class="header {{ function( 'axel_custom_header_class' ) }}" {{ function( 'axel_custom_header' ) }}>
		<div class="header__dimm">
			{% include 'template-parts/header/site-name.twig' %}
			{% include 'template-parts/header/search-form.twig' %}
		</div>
	</header>

	{% include 'template-parts/navigation/menu-header.twig' %}